.learning-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.flashcards {
  background-color: rgb(127, 206, 255);
}

#see-more {
  font-weight: 700;
  text-decoration: underline;
}