.picture-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.search-input {
  background-image: url('https://icon-library.com/images/black-search-icon-png/black-search-icon-png-9.jpg');
  background-position: 99% 50% ;
  background-repeat: no-repeat;
  background-size: 50px;
}

.search-input {
  flex: 1;
  padding: 1rem;
  border-radius: 30px;
}

.dictionary {
  display: flex;
  width: 80%;
  justify-content: center;
}

.dictionary > span {
  font-size: 45px;
}

.search-area {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #444;
  margin-right: 8px;
}

.hot-search {
  margin-top: 20px;
  text-decoration: underline;
}